[submodule "src/main/java/com/Investing/Investments/model"]
	path = src/main/java/com/Investing/Investments/model
	url = git@git1.smoothstack.com:cohorts/2023/organizations/number-1-team/submodules/model.git
